<!-- about part start-->
<section class="about_part about_bg">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="~/img/about.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h2>@Model.Title</h2>
                    <h4>@Model.SubTitle</h4>
                    <p>@Html.Raw(@Model.Description)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->
